/vendor
/node_modules
/public/hot
/public/storage
/public/agents
/public/jobs_import
Homestead.yaml
Homestead.json
.env
.idea
composer.lock
/invoice
/public/invoice
/public/vendor
/public/jobs_file
/public/video
/storage/*.key
dump.sql
.env.backup
.env.testing
.phpunit.result.cache
npm-debug.log
yarn-error.log
/public/bower_components
/public/cim/payments.log
composer_2.phar
**/node_modules/*
**/package-lock.json
worker.out.log
storage/session/**
.phpstorm.meta.php
public/gif_optimizer/gif/
sync_file_jobs.sh
/tests/testData
